body {
	font-family: 'Sintony', sans-serif;
	color: #888;
	font-size: 12px;
	background: #bfbfbf;
	line-height: 1;
}
*, *:before, *:after {
    box-sizing: border-box;
}

html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, header, hgroup, menu, nav, s {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header h2 {
	margin: 25px 10px;
font-size: 28px;
text-align: center;
color: cornsilk;
}
.container {
	margin: 10px auto;
	display: table;
	max-width: 1140px;
	width: 100%;
}
.container:after, .container:before {
	content:"clear" both;
}
nav.menu {
	background: rgb(255, 183, 0);
	position: relative;
	min-height: 45px;
	height: 100%;
}

.menu > ul > li {
	list-style: none;
	display: inline-block;
	color: #fff;
	line-height: 45px;
	
}
.menu > ul li a, .xs-menu li a {
	text-decoration: none;
	color: #fff;
	 display:block;
	 padding: 0px 24px;
}
.menu > ul li a:hover {
	background:#444;
	color: #fff;
	transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
}
.active{
	background:#444 !important;
	
}
.displaynone{
	display: none;
}
.xs-menu-cont{
display:none;
}
.xs-menu-cont > a {
    background: none repeat scroll 0 0 #ff7f50;
    border-radius: 3px;
    padding: 3px 6px;
	display: block;
	border-bottom:1px solid #E67248;
	    box-shadow: 0 1px 2px #e67248;
		-webkit-box-shadow: 0 1px 2px #e67248;
		-moz-box-shadow: 0 1px 2px #e67248;
}
.xs-menu-cont > a:hover{
 cursor: pointer;
}
  
.xs-menu li {
color: #fff;
padding: 14px 30px;
border-bottom: 1px solid #ccc;
background: #FF7F50;

}
.xs-menu  a{
text-decoration:none;
}

.mega-menu {
   background: none repeat scroll 0 0 #888;
    left: 0;
    margin-top: 3px;
    position: absolute;
    width: 100%;
	padding:15px;
	display:none;
	 transition-duration: 0.9s;
    
}
#menutoggle i {
    color: #fff;
    font-size: 33px;
    margin: 0;
    padding: 0;
}


/*--column--*/
.mm-6column:after, .mm-6column:before, .mm-3column:after, .mm-3column:before{
content:"";
display:table;
clear:both;


}
.mm-6column, .mm-3column {
 float: left;
 position: relative;
 }
.mm-6column {
    width: 50%;
}
.mm-3column {
        width: 25%;
}
.responsive-img {
    display: block;
    max-width: 100%;

}
.left-images{
margin-right:25px;
}
 .left-images, .left-categories-list {
   float: left;
}
.categories-list li {
    display: block;
    line-height: normal;
    margin: 0;
    padding: 5px 0;
}
.categories-list li :hover{
		background:inherit !important;
}
.left-images > p {
    background: none repeat scroll 0 0 #ff7f50;
    display: block;
    font-size: 18px;
    line-height: normal;
    margin: 0;
    padding: 5px 14px;
}
.categories-list span {
    font-size: 18px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.mm-view-more{
	background: none repeat scroll 0 0 #ff7f50;
    color: #fff;
    display: inline !important;
    line-height: normal;
    padding: 5px 8px !important;
	  margin-top: 10px;
}
.display-on{
display:block;
 transition-duration: 0.9s;
}
.drop-down > a:after{
content:"\f103";
color:#fff;
font-family: FontAwesome;
font-style: normal;
margin-left: 5px;}
 
.finalf{
        display: flex;
        width: 100%;
        height: 400px;
        margin-top: 10em;
        background-color: #191919;
    }
    .group{
        display: flex;
        margin-left: 14em;
        width: 1000px;
        height: 300px;
        
        margin-top: 2em;
    }
    
    .seccion1{
        width: 180px;
        height: 220px;
        padding: 25px;
    }
    .ti{
        color: white;
        font-size: 20px;
        text-align: center;
        padding: 10px 20px 10px 20px;
        margin: 5px;
    
    }
    .textofooter1{
        font-size: 9px;
        color:#555555;
        padding-bottom: 20px;
        
        
    }
    .cajademi{
        display: flex;
        margin-left: -20px;
        margin: 10px;
        
    }
    
    .fotitos4{
        width: 120px;
        margin-left: 40px;
        
    
    }
    
    .h66{
        margin-top: 40px;
    }
    .ph4{
        width: 50px;
        height: 50px;
    
    }
    .final{
        background-color: #111111;
        width: 100%;
        height: 80px;
        display: flex;
        
    }
    
    
    .copy{
        color: #fff;
        font-size: 15px;
        margin: 0px;
        padding-top: 10px;
        margin-left: 17em;
        width: 200px;
        }
    .copy2{
        color: #fff;
        font-size: 12px;
        margin-left: 34em;
        margin-top: 30px;
        
        width: 300px;
        }
    
    .kka{
        font-size: 8px;
    }



 /*MediaQuerys*/
 @media (max-width: 600px) {
.menu {
 display:none;
 }
 .xs-menu li a {

	 padding:0px;
}
 .xs-menu-cont{
 display:block ;
 }
 }


/*Animation--*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


/**@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,600,600i,800");**/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  img {
    max-width: 100%;
  }
  
  html {
    min-height: 100%;
  }
  
  body {
    min-height: 100%;
    color: #333333;
    font: 1.4em/1.8 "EB Garamond";
    margin: 0;
    padding: 0;
  }
  
  @media (max-width: 37.5rem) {
    body {
      font-size: 1.2em;
    }
  }
  
  h1 {
    line-height: 1;
    font-weight: 600;
    font-style: italic;
    opacity: 0.75;
  }
  body {
    background: linear-gradient(45deg, #000428, #e89210, #080d97);
  }
  .contenedor {
    padding: 4em 2em;
    display: flex;
    justify-content: center;
      flex-wrap: wrap
  }
  
  .ilustrador {
    max-width: 15em;
    margin: 1em;
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 0.95);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
  }
  
  .ilustrador__imagen {
    max-height: 12em;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
  }
  
  .ilustrador__imagen img {
    width: 350px;
    height: 300px; 
    display: block;
  }
  
  .ilustrador__contenido {
    padding: 1em 1em 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .ilustrador__cabecera {
    border-bottom: 1px solid rgb(56, 16, 232);
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .ilustrador__nombre {
    margin: 0;
    color: #4016d5;
    font-style: italic;
  }
  
  .ilustrador__fechas {
    color: gray;
    font-size: 80%;
  }
  
  .ilustrador__bio {
    font-size: 0.8em;
    line-height: 1.5;
    flex-grow: 1;
  }
  
  .ilustrador__pie {
    background-color: #e8101a;
    color: white;
    text-align: center;
    border-radius: 0 0 10px 10px;
    margin-right: -1em;
    margin-left: -1em;
    margin-top: 1em;
    padding: 0.5em;
  }

  